<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= docTitle %></title>
	<link rel="stylesheet" href="/styles/index.css?v=1">
	<link rel="icon" type="image/png" href="/images/movie-poster-quiz-logo_favicon.png">
</head>