<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head.ejs') %>
<body>
	<header><img src="/images/movie-poster-quiz-logo.svg" alt=""></header>
	<main>
		<ul class="player-list"></ul>
		<div class="create-form">
			<h1>Maak een quiz</h1>
			<form action="/quiz-master" method="post">
				<!-- <label>
					Quiz code
					<input type="hidden" name="quiz-code" value="<%= data.quizCode %>">
					<input type="text" value="<%= data.quizCode %>" disabled>
				</label> -->
				<div class="input-group">
					<label>
						Aantal vragen
						<input type="number" name="questions-amount" value="10" min="1" max="100">
					</label>
				</div>
				<div class="input-group">
					<label>
						Tijd per vraag
						<input type="number" name="questions-time" value="15" min="5" max="20"><span>sec.</span>
					</label>
				</div>
				<button>Start quiz</button>
			</form>
		</div>
	</main>
	<script src="/scripts/create.js"></script>
</body>
</html>