<!DOCTYPE html>
<html lang="nl">
	<%- include('../partials/head.ejs') %>

	<body>
		<header><img src="/images/movie-poster-quiz-logo_klein.svg" alt=""></header>
		<main>
			<%- include("../partials/wait.ejs") %>
		</main>
		<script src="/scripts/player.js"></script>
		<script src="/scripts/countdown.js"></script>
	</body>

</html>
