<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head.ejs') %>
<body>
	<% if (data.empty_poster) { %>
    	<img src="https://image.tmdb.org/t/p/original<%= data.empty_poster.file_path %>" alt="">
    <% } else if (data.poster_path) { %>
    	<img src="https://image.tmdb.org/t/p/original<%= data.poster_path %>" alt="">
    <% } else { %>
    	<p>no poster available</p>
    <% } %>
</body>
</html>