<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/styles/index.css">
</head>
<body>
	<% if (data.empty_poster) { %>
    	<img src="https://image.tmdb.org/t/p/original<%= data.empty_poster.file_path %>" alt="">
    <% } else if (data.poster_path) { %>
    	<img src="https://image.tmdb.org/t/p/original<%= data.poster_path %>" alt="">
    <% } else { %>
    	<p>no poster available</p>
    <% } %>
</body>
</html>