<!DOCTYPE html>
<html lang="nl">
<%- include('../partials/head.ejs') %>
<body>
	<header><img src="/images/movie-poster-quiz-logo_klein.svg" alt=""></header>
	<main></main>
	<script src="/scripts/master.js"></script>
	<script src="/scripts/countdown.js"></script>
</body>
</html>